body {
    position: relative;
    text-align: center;
        font-family: Lato;
        
        background-image: url("background-2.jpeg");

}

.nav_div {
    position: fixed;
    margin-top: 0px;
    margin-bottom: 30px;
    width: 100%;
    height: 40px;
    text-align: right;
    background-color: transparent;
    z-index: 1;
    top: 0;
    left: 0;
}

.myTrips{
    margin-right: 3%;
    margin-left: 10px;
}

.nav_div button{
    background-color:transparent;
    margin-top: 10px;
    border: none;
    font-size: 20px;
    /* font-family: "Times new Roman"; */
    vertical-align:top;
    color:whitesmoke;
    outline: none;
}

h1{
    font-size: 45px;
    margin-top: 80px;
    color: white ;
    /* margin-bottom: 25px; */
}

.search_div{
    flex-direction: row;
    padding: 20px;
    width: 80%;
    height: auto;
    margin-left: 8%;
    display: flex;
    border: 2px solid grey;
    padding-bottom: 25px;
    background-color: white;
}

.search_div input {
    width: 25%;
    height: 40px;
    margin: 5px;
    font-size: 15px;
    background-color: aliceblue;
}

.date {
    margin-left: 10px;
    height: 50px;
    font-size: 15px;
    width: 50%;
    display: flex;
}

.date input{
    width: 80%;
    margin: 5px;
    background-color: aliceblue;
}


.search_div select {
    width: 20%;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 10px;
    font-size: 15px;
    background-color: whitesmoke;
}

.date button{
    width: 180px;
    height: 40px;
    background-color: whitesmoke;
    font-size: 18px;
    margin-right: 1%;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.errormsg {
    position: absolute;
    color: red;
    left: 12%;
    margin-top: 55px;
}

.result-container{
    display: flex;
    width: 85%;
    margin-top: 10px;
    margin-left: 7%;
}

.results{
    overflow-y: scroll;
    width: 100%;
    height: 80%;
}

.results_go{
    overflow-y: scroll;
    width: 50%;
    height: 80%;
    border-right: solid 1px lightgrey;
    padding-right:20px;
}

.results_back{
    overflow-y: scroll;
    width: 50%;
    height: 80%;
    padding-right:20px;
}

.result-container h1{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 30px;
}

.submit{
    width: 200px;
    height: 40px;
    margin-top: 20px;
    background-color: #F08080;
    font-size: 18px;
    color:white;
}
.unpurchased{
    width: 200px;
    height: 40px;
    margin-top: 20px;
    background-color: #F08080;
    font-size: 18px;
    color:white;
}

.general{
    display: flex;
    margin-bottom: 10px;
    margin-top: 5px;
}

.general_go{
    display: flex;
    margin-bottom: 10px;
    margin-top: 5px;
}

.general_back{
    display: flex;
    margin-bottom: 10px;
    margin-top: 5px;
}

.result{
    margin: 10px;
    padding: 10px;
    width: 90%;
    margin-left: 4%;
    border: 2px solid lightgrey;
    padding-bottom: 15px;

    background:white;
    color:#5673a3;
}

.result_go{
    margin: 10px;
    padding: 10px;
    width: 90%;
    margin-left: 4%;
    border: 2px solid lightgrey;
    padding-bottom: 15px;
    background:white;
    color:#5673a3;
}

.result_back{
    margin: 10px;
    padding: 10px;
    width: 90%;
    margin-left: 4%;
    border: 2px solid lightgrey;
    padding-bottom: 15px;
    background:white;
    color:#5673a3;
}

.general_go div{
    width: 25%;
    font-size: 18px;
    margin: auto;
}

.general_back div{
    width: 25%;
    font-size: 18px;
    margin: auto;
}

.general div{
    width: 25%;
    font-size: 18px;
    margin: auto;
}

.general_go button{
    width: 80px;
    height: 6%;
    background-color: aliceblue;
    margin-left: 10px;
    margin-right: 5%;
    margin: auto;
    font-size: 18px;
    padding: 3px;
}

.general_back button{
    width: 80px;
    height: 6%;
    background-color: aliceblue;
    margin-left: 10px;
    margin: auto;
    font-size: 18px;
    padding: 3px;
}

.general button{
    width: 80px;
    height: 6%;
    background-color: aliceblue;
    margin-left: 10px;
    margin: auto;
    font-size: 18px;
    padding: 3px;
}

.details{
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid lightgrey;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}



.ticket_just_booked{
    font-size:30px;
    color:whitesmoke;
}
.searchResults{
    color: whitesmoke;
    margin-top: 50px;
    text-align: center;
    font-size: 22px;
    margin-bottom: 10px;
    margin-left: 10%; 
    margin-right: auto;
}




.flightinfopurchase{
    margin: 20px;
    border: 1px solid darkgray;
    background-color: whitesmoke;
    color: #5673a3;
    padding: 20px;
    font-size: 20px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    text-align:center;

     
}

.flightinfo{
    margin-top: 30px;
    border-top: 1px solid rgb(94, 93, 93);
    border-left:1px solid rgb(94, 93, 93);
    border-right: 1px solid rgb(94, 93, 93);
    background-color: whitesmoke;
    color: #5673a3;
    padding-top: 40px;
    font-size: 20px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    
}

.personalinfo{
    border-bottom: 1px solid rgb(94, 93, 93);
    border-left:1px solid rgb(94, 93, 93);
    border-right: 1px solid rgb(94, 93, 93);    
    background-color: whitesmoke;
    color: #5673a3;
    padding-top:20px;
    font-size: 18px;
    width:80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    
}

#myInfo{

    font-size: 20px;
    text-align: center;
    width: 80%;
    margin-top: 15px;
    margin-bottom: 15px;


    margin-left: auto;
    margin-right:auto;
}

#myInfo input{
    width: 200px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
}

#myInfo label input{
    width: auto;
    height: auto;
}

.mytrip_page{
    overflow-y: scroll;
    width: 100%;
    height: 90%;
    border: solid 1px lightgrey;
    margin-top: 60px;
    

}